.Foter{
      padding: 6vw 18vw;
      padding-bottom: 7vw;
      background-color: #D52027;
      display: flex;
      gap: 7vw;
      align-items: center;
      justify-content: center;
}

.contai_title{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;

    h1{
        font-size: 33px;
        color: #FFFFFF;
        line-height: 1.3;
        font-weight: 700;
    }

    span{
        font-size: 16px;
        color: #FFFFFF;
        line-height: 1.5;
    }
}

.contai_input_button{
    display: flex;
    flex-direction: column;
    gap: 10px;

    input{
        padding: 15px 15px;
        padding-right: 155px;
        border-radius: 5px;
        border: none;
    }

    button{
        padding: 14px 0;
        border: none;
        border-radius: 5px;
        transition: 0.2s;

        &:hover{
            background-color: #141024;
            color: white;
        }
    }
}