.Cart_bloc {
  padding: 5vw 18vw;
  background-color: white;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.h1{

    h1{
        font-size: 40px;
        color: #141024;
    }
}

.contai_bloc{
    display: flex;
    gap: 20px;
    align-items: center;
}

.bloc{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 35px;
    border: solid 2px #14102433;
    border-radius: 5%;
    transition: 0.3s;

    h1{
        padding-bottom: 10px;
    }

    button{
        background-color: #D52027;
        color: white;
        border: none;
        width: 240px;
        height: 60px;
        border-radius: 10px;
    }

    &:hover{
        background-color: #141024;
        color: white;
    }
}

.title_con{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    p{
        font-size: 60px;
        font-weight: 700;
    }
    
    span{
        text-align: center;
        font-size: 15px;
        line-height: 1.5;
    }
}
